<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>bbs_xrt</display-name>

	<!-- 欢迎页面的配置 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- 过滤器的配置开始 -->
	<filter><!-- spring的字符集过滤器 -->
		<filter-name>encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<!-- <filter>首页过滤器
		<filter-name>welcome</filter-name>
		<filter-class>com.itany.bbs.filter.WelcomeFilter</filter-class>
	</filter> -->
	
	<filter><!-- 发帖页过滤器 -->
		<filter-name>post</filter-name>
		<filter-class>com.itany.bbs.filter.PostFilter</filter-class>
	</filter>
	
	<filter><!-- 回帖页过滤器 -->
		<filter-name>reply</filter-name>
		<filter-class>com.itany.bbs.filter.ReplyFilter</filter-class>
	</filter>
	
	<!-- 过滤器的配置结束 -->
	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 过滤器拦截请求的配置开始 -->
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- <filter-mapping>
		<filter-name>welcome</filter-name>
		<url-pattern>/index.jsp</url-pattern>
	</filter-mapping> -->
	
	<filter-mapping>
		<filter-name>post</filter-name>
		<url-pattern>/post</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>reply</filter-name>
		<url-pattern>/reply</url-pattern>
	</filter-mapping>
	<!-- 过滤器拦截请求的配置结束 -->


	<!-- servlet的配置开始 -->
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet><!-- 验证码的servlet -->
		<servlet-name>vcode</servlet-name>
		<servlet-class>com.itany.servlet.ValidCodeServlet</servlet-class>
	</servlet>
	<!-- servlet的配置结束 -->


	<!-- servlet请求路径匹配开始 -->
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>vcode</servlet-name>
		<url-pattern>/vcode.jpg</url-pattern>
	</servlet-mapping>
	<!-- servlet请求路径匹配结束 -->

</web-app>